.ts2ljtd{--fds-internal-typography-base-maxLines:initial;font-variant:var(--fds-font-variant);color:var(--fds-colour-text);}
.tu0nvfw{font-family:var(--fds-font-family-heading);}
.t1ruq6ql{font-family:var(--fds-font-family-body);}
.d1cfdq56{display:inline;margin-bottom:0;}
.d4n1hjq{display:block;margin-bottom:0;}
.p1ydob6f{display:block;margin-bottom:1.05em;}
.l1w2xa0l{--fds-internal-typography-base-maxLines:initial;display:-webkit-box;-webkit-line-clamp:var(--fds-internal-typography-base-maxLines);-webkit-box-orient:vertical;overflow:hidden;}
.hspw24h{color:var(--fds-colour-hyperlink);}.hspw24h:hover,.hspw24h:active,.hspw24h:focus{color:var(--fds-colour-text-hover);}
.u3g791q{-webkit-text-decoration:underline;text-decoration:underline;}
.nlbpwo0{-webkit-text-decoration:none;text-decoration:none;}
.e1f7dy7t{height:1lh;width:1em;margin-left:0.4em;vertical-align:middle;}
