.m1ddqpur{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;padding:var(--fds-spacing-8) var(--fds-spacing-16);}
.tor9xcz{color:var(--fds-colour-text);}
.s12tso9{color:var(--fds-colour-text-subtler);}
