.lzv8h5c{list-style-type:none;margin-bottom:var(--fds-spacing-32);}
.l1rx15rp{margin-bottom:0;}
.e1mlljmt{border-top:var(--fds-border-width-010) var(--fds-border-style-solid) var(--fds-colour-border);border-bottom:var(--fds-border-width-010) var(--fds-border-style-solid) var(--fds-colour-border);}.e1mlljmt:not(:last-child){margin-bottom:var(--fds-spacing-32);}.e1mlljmt:not(:first-child){margin-top:var(--fds-spacing-32);}.e1mlljmt ul{list-style-type:none;}
