.fds-standalone-date-input {
    display: inline-flex;
}

.fds-standalone-date-input__section {
    display: flex;
    align-items: center;
    cursor: text;
    flex: 1;
    position: relative;
}

.fds-standalone-date-input__container {
    display: flex;
    align-items: center;
}

.fds-standalone-date-input__input {
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    font-size: 14px;
    color: var(--fds-colour-text);
    text-align: center;
    padding: 0;
}

.fds-standalone-date-input__input::placeholder {
    color: var(--fds-colour-text-disabled);
}

.fds-standalone-date-input__input.fds-standalone-date-input__input--day,
.fds-standalone-date-input__input.fds-standalone-date-input__input--month {
    width: 24px;
}

.fds-standalone-date-input__input.fds-standalone-date-input__input--year {
    width: 40px;
}

.fds-standalone-date-input__divider {
    color: var(--fds-colour-text-disabled);
    font-size: 14px;
    margin: 0 1px;
    user-select: none;
}

.fds-standalone-date-input__divider.fds-standalone-date-input__divider--active {
    color: var(--fds-colour-text);
}
