.layout-col-div-grid {
    border: 2px solid blue;
}

.layout-col-div-span {
    border: 2px solid red;
}

.layout-col-div-start-span {
    border: 2px solid green;
}

.layout-col-div-end-minus-one {
    border: 2px solid orange;
}

.layout-container-flex {
    border: 2px solid red;
}

.layout-container-flex-column {
    border: 2px solid green;
}

.layout-container-grid {
    border: 2px solid blue;
}

.layout-container-stretched {
    border: 2px solid orange;
}

.layout-test-content {
    border: 2px solid red;
}

.layout-content-grid {
    border: 2px solid blue;
}

.layout-content-col-div {
    border: 2px solid green;
}

.layout-content-stretched {
    border: 2px solid orange;
}

.layout-test-section {
    border: 2px solid blue;
}
