@layer fds{.ieulqso{max-height:var(--fds-spacing-72);max-width:100%;}
.gaeoncc{height:4.5rem;}
.prt8kdt{height:3.5rem;}
.ich52w2{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;gap:var(--fds-spacing-32);margin-top:var(--fds-spacing-16);}}
