@import url("./default.css");

/* ============================================================================
   PRIMITIVE COLORS
   ============================================================================ */
[data-fds-theme="oneservice"] {
    --fds-colour-brand-10: #001a19;
    --fds-colour-brand-20: #002d2b;
    --fds-colour-brand-30: #00413d;
    --fds-colour-brand-40: #005954;
    --fds-colour-brand-50: #00756f;
    --fds-colour-brand-60: #03a098;
    --fds-colour-brand-70: #55bfba;
    --fds-colour-brand-80: #92d6d2;
    --fds-colour-brand-90: #bfe7e5;
    --fds-colour-brand-95: #ddf2f1;
    --fds-colour-brand-100: #f4fbfa;
    --fds-colour-primary-10: #09191d;
    --fds-colour-primary-20: #102b34;
    --fds-colour-primary-30: #173d49;
    --fds-colour-primary-40: #205666;
    --fds-colour-primary-50: #2a7086;
    --fds-colour-primary-60: #5d97a9;
    --fds-colour-primary-70: #8cb6c2;
    --fds-colour-primary-80: #b2ced6;
    --fds-colour-primary-90: #d1e2e7;
    --fds-colour-primary-95: #e8f0f3;
    --fds-colour-primary-100: #f7fafb;
    --fds-colour-secondary-10: #001731;
    --fds-colour-secondary-20: #002752;
    --fds-colour-secondary-30: #003874;
    --fds-colour-secondary-40: #004d9f;
    --fds-colour-secondary-50: #5b62a7;
    --fds-colour-secondary-60: #858cbd;
    --fds-colour-secondary-70: #a8adcf;
    --fds-colour-secondary-80: #c6c9e0;
    --fds-colour-secondary-90: #dddfec;
    --fds-colour-secondary-95: #edeef5;
    --fds-colour-secondary-100: #f8f8fb;
    --fds-colour-neutral-10: #161616;
    --fds-colour-neutral-20: #282828;
    --fds-colour-neutral-30: #393939;
    --fds-colour-neutral-40: #4e4e4e;
    --fds-colour-neutral-50: #686868;
    --fds-colour-neutral-60: #8e8e8e;
    --fds-colour-neutral-70: #afafb0;
    --fds-colour-neutral-80: #c7caca;
    --fds-colour-neutral-90: #dde1e2;
    --fds-colour-neutral-95: #edefef;
    --fds-colour-neutral-100: #f9f9f9;
    --fds-colour-success-10: #081a0f;
    --fds-colour-success-20: #0e2d1b;
    --fds-colour-success-30: #154126;
    --fds-colour-success-40: #1c5a34;
    --fds-colour-success-50: #257645;
    --fds-colour-success-60: #44a068;
    --fds-colour-success-70: #64c189;
    --fds-colour-success-80: #80dca5;
    --fds-colour-success-90: #b4eccb;
    --fds-colour-success-95: #d5f6e2;
    --fds-colour-success-100: #effcf4;
    --fds-colour-warning-10: #221302;
    --fds-colour-warning-20: #3b2204;
    --fds-colour-warning-30: #543106;
    --fds-colour-warning-40: #744408;
    --fds-colour-warning-50: #98590c;
    --fds-colour-warning-60: #d07a13;
    --fds-colour-warning-70: #e4a244;
    --fds-colour-warning-80: #f5c26c;
    --fds-colour-warning-90: #fadba6;
    --fds-colour-warning-95: #fcecd4;
    --fds-colour-warning-100: #fdf7f0;
    --fds-colour-error-10: #330505;
    --fds-colour-error-20: #550808;
    --fds-colour-error-30: #750c0c;
    --fds-colour-error-40: #9e130f;
    --fds-colour-error-50: #cb2213;
    --fds-colour-error-60: #de6c6c;
    --fds-colour-error-70: #e89b9b;
    --fds-colour-error-80: #efbebe;
    --fds-colour-error-90: #f5d9d9;
    --fds-colour-error-95: #f9ecec;
    --fds-colour-error-100: #fcf7f7;
    --fds-colour-info-10: #021824;
    --fds-colour-info-20: #032b3f;
    --fds-colour-info-30: #053d59;
    --fds-colour-info-40: #06547b;
    --fds-colour-info-50: #176e9b;
    --fds-colour-info-60: #5296be;
    --fds-colour-info-70: #82b5da;
    --fds-colour-info-80: #accfe7;
    --fds-colour-info-90: #cce3f1;
    --fds-colour-info-95: #e3f1f8;
    --fds-colour-info-100: #f4fafd;
    --fds-colour-white: #ffffff;
    --fds-colour-black: #000000;
    --fds-colour-primary-inverse: #feab10;
}

/* ============================================================================
   FONT
   ============================================================================ */
[data-fds-theme="oneservice"] {
    --fds-font-variant: normal;

    --fds-font-heading-size-xxl: 2.5rem;
    --fds-font-heading-size-xl: 2rem;
    --fds-font-heading-size-lg: 1.75rem;
    --fds-font-heading-size-md: 1.375rem;
    --fds-font-heading-size-sm: 1.125rem;
    --fds-font-heading-size-xs: 1rem;

    --fds-font-heading-lh-xxl: 3.5rem;
    --fds-font-heading-lh-xl: 3rem;
    --fds-font-heading-lh-lg: 2.625rem;
    --fds-font-heading-lh-md: 2rem;
    --fds-font-heading-lh-sm: 1.625rem;
    --fds-font-heading-lh-xs: 1.5rem;

    --fds-font-heading-ls-xxl: 0rem;
    --fds-font-heading-ls-xl: 0rem;
    --fds-font-heading-ls-lg: 0rem;
    --fds-font-heading-ls-md: 0rem;
    --fds-font-heading-ls-sm: 0rem;
    --fds-font-heading-ls-xs: 0rem;

    --fds-font-weight-light: 300;
    --fds-font-weight-regular: 400;
    --fds-font-weight-semibold: 600;
    --fds-font-weight-bold: 700;
    --fds-font-font-family: "Open Sans";

    --fds-font-body-size-baseline: 1rem;
    --fds-font-body-size-md: 0.875rem;
    --fds-font-body-size-sm: 0.75rem;
    --fds-font-body-size-xs: 0.75rem;

    --fds-font-body-lh-baseline: 1.5rem;
    --fds-font-body-lh-md: 1.313rem;
    --fds-font-body-lh-sm: 1.125rem;
    --fds-font-body-lh-xs: 1.125rem;

    --fds-font-body-ls-baseline: 0rem;
    --fds-font-body-ls-md: 0rem;
    --fds-font-body-ls-sm: 0rem;
    --fds-font-body-ls-xs: 0rem;

    --fds-font-form-label-size: 0.875rem;
    --fds-font-form-description-size: 0.875rem;

    --fds-font-form-label-lh: 1.313rem;
    --fds-font-form-description-lh: 1.313rem;

    --fds-font-form-label-ls: 0rem;
    --fds-font-form-description-ls: 0rem;
}
