@import url("./default.css");

[data-fds-theme="smgs"] {
    --fds-colour-brand-10: #0B181F;
    --fds-colour-brand-20: #132B35;
    --fds-colour-brand-30: #1B3D4C;
    --fds-colour-brand-40: #25546A;
    --fds-colour-brand-50: #306F8B;
    --fds-colour-brand-60: #459EC6;
    --fds-colour-brand-70: #70B5D3;
    --fds-colour-brand-80: #93C7DE;
    --fds-colour-brand-90: #CBE4EF;
    --fds-colour-brand-95: #EBF4F9;
    --fds-colour-brand-100: #F3F9FB;
    --fds-colour-primary-10: #0B181F;
    --fds-colour-primary-20: #132B35;
    --fds-colour-primary-30: #1B3D4C;
    --fds-colour-primary-40: #25546A;
    --fds-colour-primary-50: #306F8B;
    --fds-colour-primary-60: #459EC6;
    --fds-colour-primary-70: #70B5D3;
    --fds-colour-primary-80: #93C7DE;
    --fds-colour-primary-90: #CBE4EF;
    --fds-colour-primary-95: #EBF4F9;
    --fds-colour-primary-100: #F3F9FB;
    --fds-colour-secondary-10: #1E1500;
    --fds-colour-secondary-20: #352500;
    --fds-colour-secondary-30: #4B3500;
    --fds-colour-secondary-40: #674A00;
    --fds-colour-secondary-50: #896100;
    --fds-colour-secondary-60: #C28A00;
    --fds-colour-secondary-70: #E1A100;
    --fds-colour-secondary-80: #FAB200;
    --fds-colour-secondary-90: #FDDD8E;
    --fds-colour-secondary-95: #FEF2D5;
    --fds-colour-secondary-100: #FFF9EA;
    --fds-colour-neutral-10: #161616;
    --fds-colour-neutral-20: #282828;
    --fds-colour-neutral-30: #393939;
    --fds-colour-neutral-40: #4E4E4E;
    --fds-colour-neutral-50: #686868;
    --fds-colour-neutral-60: #969492;
    --fds-colour-neutral-70: #AFACA7;
    --fds-colour-neutral-80: #C2BFBB;
    --fds-colour-neutral-90: #E4DFD9;
    --fds-colour-neutral-95: #F4F1EF;
    --fds-colour-neutral-100: #F9F8F7;
    --fds-colour-success-10: #071913;
    --fds-colour-success-20: #0D2D22;
    --fds-colour-success-30: #134031;
    --fds-colour-success-40: #1A5944;
    --fds-colour-success-50: #237559;
    --fds-colour-success-60: #31A77E;
    --fds-colour-success-70: #39C293;
    --fds-colour-success-80: #67D2AD;
    --fds-colour-success-90: #B8EAD9;
    --fds-colour-success-95: #E3F7F0;
    --fds-colour-success-100: #F1FBF8;
    --fds-colour-warning-10: #211403;
    --fds-colour-warning-20: #3B2205;
    --fds-colour-warning-30: #543108;
    --fds-colour-warning-40: #73440B;
    --fds-colour-warning-50: #98590E;
    --fds-colour-warning-60: #D38221;
    --fds-colour-warning-70: #DEA057;
    --fds-colour-warning-80: #E5B77F;
    --fds-colour-warning-90: #F3DDC3;
    --fds-colour-warning-95: #FAF2E8;
    --fds-colour-warning-100: #FDF9F4;
    --fds-colour-error-10: #2E0A0C;
    --fds-colour-error-20: #4F1114;
    --fds-colour-error-30: #70171C;
    --fds-colour-error-40: #972026;
    --fds-colour-error-50: #C62932;
    --fds-colour-error-60: #F7636B;
    --fds-colour-error-70: #F98D93;
    --fds-colour-error-80: #FAAAAE;
    --fds-colour-error-90: #FDD7D9;
    --fds-colour-error-95: #FEF0F1;
    --fds-colour-error-100: #FFF6F6;
    --fds-colour-info-10: #0F1627;
    --fds-colour-info-20: #1B2745;
    --fds-colour-info-30: #273763;
    --fds-colour-info-40: #354D88;
    --fds-colour-info-50: #4665B3;
    --fds-colour-info-60: #6A90F6;
    --fds-colour-info-70: #8DAAF8;
    --fds-colour-info-80: #A7BEFA;
    --fds-colour-info-90: #D4DFFD;
    --fds-colour-info-95: #EEF3FE;
    --fds-colour-info-100: #F5F8FE;
    --fds-colour-white: #FFFFFF;
    --fds-colour-black: #000000;
    --fds-colour-primary-inverse: #FEAB10;

    @mixin semantic-colours-light-standard;

    /* 
    ========================================================================
    COMPONENT TOKENS
    ========================================================================
    */

    @mixin component-tokens-standard;

    /* 
    ========================================================================
    SHADOW
    ========================================================================
    */

    @mixin shadow;

    /*
    ============================================================================
    FONT
    ============================================================================
    */

    @mixin font-plus-jakarta-sans;
}

/*
============================================================================
SEMANTIC COLOURS - DARK MODE
============================================================================
*/
[data-fds-theme="smgs"][data-fds-theme-mode="dark"] {
    @mixin semantic-colours-dark;
}
