@import url("./default.css");

/* ============================================================================
   PRIMITIVE COLOURS
   ============================================================================ */
[data-fds-theme="spf"] {
    --fds-colour-brand-10: #00143a;
    --fds-colour-brand-20: #00205b;
    --fds-colour-brand-30: #153368;
    --fds-colour-brand-40: #18417c;
    --fds-colour-brand-50: #00558c;
    --fds-colour-brand-60: #009cde;
    --fds-colour-brand-70: #5ab9e7;
    --fds-colour-brand-80: #9ed0ed;
    --fds-colour-brand-90: #cae3f4;
    --fds-colour-brand-95: #e2f0f9;
    --fds-colour-brand-100: #f4fafd;
    --fds-colour-primary-10: #00143a;
    --fds-colour-primary-20: #00205b;
    --fds-colour-primary-30: #153368;
    --fds-colour-primary-40: #18417c;
    --fds-colour-primary-50: #00558c;
    --fds-colour-primary-60: #009cde;
    --fds-colour-primary-70: #5ab9e7;
    --fds-colour-primary-80: #9ed0ed;
    --fds-colour-primary-90: #cae3f4;
    --fds-colour-primary-95: #e2f0f9;
    --fds-colour-primary-100: #f4fafd;
    --fds-colour-secondary-10: #10171f;
    --fds-colour-secondary-20: #1e252c;
    --fds-colour-secondary-30: #2f353b;
    --fds-colour-secondary-40: #3d4247;
    --fds-colour-secondary-50: #4e5255;
    --fds-colour-secondary-60: #8f9396;
    --fds-colour-secondary-70: #a9b0b3;
    --fds-colour-secondary-80: #c7cbcc;
    --fds-colour-secondary-90: #dddfe0;
    --fds-colour-secondary-95: #ecedee;
    --fds-colour-secondary-100: #f8f8f9;
    --fds-colour-neutral-10: #10171f;
    --fds-colour-neutral-20: #1e252c;
    --fds-colour-neutral-30: #2f353b;
    --fds-colour-neutral-40: #3d4247;
    --fds-colour-neutral-50: #4e5255;
    --fds-colour-neutral-60: #8f9396;
    --fds-colour-neutral-70: #a9b0b3;
    --fds-colour-neutral-80: #c7cbcc;
    --fds-colour-neutral-90: #dddfe0;
    --fds-colour-neutral-95: #ecedee;
    --fds-colour-neutral-100: #f8f8f9;
    --fds-colour-success-10: #001b0e;
    --fds-colour-success-20: #012a16;
    --fds-colour-success-30: #013d20;
    --fds-colour-success-40: #014d28;
    --fds-colour-success-50: #005f30;
    --fds-colour-success-60: #48a377;
    --fds-colour-success-70: #77bd9b;
    --fds-colour-success-80: #a3d5bd;
    --fds-colour-success-90: #c4e7d6;
    --fds-colour-success-95: #dbf4e7;
    --fds-colour-success-100: #ecfdf5;
    --fds-colour-warning-10: #1f1500;
    --fds-colour-warning-20: #312100;
    --fds-colour-warning-30: #473000;
    --fds-colour-warning-40: #593c00;
    --fds-colour-warning-50: #6e4b00;
    --fds-colour-warning-60: #b78c31;
    --fds-colour-warning-70: #dda633;
    --fds-colour-warning-80: #e0c792;
    --fds-colour-warning-90: #e9dec5;
    --fds-colour-warning-95: #f4eee0;
    --fds-colour-warning-100: #faf8f3;
    --fds-colour-error-10: #360109;
    --fds-colour-error-20: #50010e;
    --fds-colour-error-30: #6f0213;
    --fds-colour-error-40: #88051a;
    --fds-colour-error-50: #a60a24;
    --fds-colour-error-60: #e07083;
    --fds-colour-error-70: #ea98a6;
    --fds-colour-error-80: #f3bbc4;
    --fds-colour-error-90: #fad5dc;
    --fds-colour-error-95: #fee9ed;
    --fds-colour-error-100: #fff6f8;
    --fds-colour-info-10: #00143a;
    --fds-colour-info-20: #00205b;
    --fds-colour-info-30: #153368;
    --fds-colour-info-40: #18417c;
    --fds-colour-info-50: #00558c;
    --fds-colour-info-60: #009cde;
    --fds-colour-info-70: #5ab9e7;
    --fds-colour-info-80: #9ed0ed;
    --fds-colour-info-90: #cae3f4;
    --fds-colour-info-95: #e2f0f9;
    --fds-colour-info-100: #f4fafd;
    --fds-colour-white: #ffffff;
    --fds-colour-black: #000000;
    --fds-colour-primary-inverse: #ffcb6a;
}

/* ============================================================================
   RADIUS
   ============================================================================ */
[data-fds-theme="spf"] {
    --fds-radius-none: 0;
    --fds-radius-xs: 2px;
    --fds-radius-sm: 8px;
    --fds-radius-md: 8px;
    --fds-radius-lg: 12px;
    --fds-radius-full: 9999px;
}

/* ============================================================================
   COMPONENT TOKENS
   ============================================================================ */
[data-fds-theme="spf"] {
    /* Button */
    --fds-button-radius: var(--fds-radius-md);
    --fds-button-default-colour-bg: var(--fds-colour-bg-primary);
    --fds-button-default-colour-bg-hover: var(--fds-colour-bg-primary-hover);
    --fds-button-default-colour-text: var(--fds-colour-text-inverse);
    --fds-button-secondary-colour-border: var(--fds-colour-border-primary);
    --fds-button-secondary-colour-text: var(--fds-colour-text-primary);
    --fds-button-light-colour-text: var(--fds-colour-text-primary);
    --fds-button-link-colour-text: var(--fds-colour-text-primary);
    /* Animation */
    --fds-loading-dots-spinner-colour: var(--fds-colour-icon-primary);
    /* Navbar */
    --fds-navbar-full-height: 6rem;
    --fds-navbar-full-logo-height: 3rem;
    --fds-navbar-compressed-height: 5rem;
    --fds-navbar-compressed-logo-height: 2rem;
    --fds-navbar-mobile-height: 4rem;
    --fds-navbar-mobile-logo-height: 2rem;
    --fds-navbar-colour-bg: var(--fds-colour-bg);
    --fds-navbar-colour-icon: var(--fds-colour-icon);
    --fds-navbar-link-colour-text: var(--fds-colour-text-primary-strongest);
    --fds-navbar-link-colour-text-hover: var(--fds-colour-text-subtler);
    --fds-navbar-link-colour-text-selected-hover: var(
        --fds-colour-text-subtler
    );
    /* Footer */
    --fds-footer-colour-bg: var(--fds-colour-bg-inverse);
    --fds-footer-colour-text: var(--fds-colour-text-inverse);
    --fds-footer-link-colour-text: var(--fds-colour-text-inverse);
    --fds-footer-link-colour-text-hover: var(--fds-colour-text-inverse);
    --fds-footer-disclaimer-link-colour-text: var(--fds-colour-text-inverse);
    --fds-footer-disclaimer-link-colour-text-hover: var(
        --fds-colour-text-inverse
    );
}

/* ============================================================================
   FONT
   ============================================================================ */
[data-fds-theme="spf"] {
    --fds-font-variant: no-common-ligatures;

    --fds-font-heading-size-xxl: 3.75rem;
    --fds-font-heading-size-xl: 3rem;
    --fds-font-heading-size-lg: 2.5rem;
    --fds-font-heading-size-md: 2rem;
    --fds-font-heading-size-sm: 1.75rem;
    --fds-font-heading-size-xs: 1.5rem;

    --fds-font-heading-lh-xxl: 4.5rem;
    --fds-font-heading-lh-xl: 3.5rem;
    --fds-font-heading-lh-lg: 3rem;
    --fds-font-heading-lh-md: 2.25rem;
    --fds-font-heading-lh-sm: 2rem;
    --fds-font-heading-lh-xs: 1.75rem;

    --fds-font-heading-ls-xxl: -0.035rem;
    --fds-font-heading-ls-xl: -0.02rem;
    --fds-font-heading-ls-lg: -0.02rem;
    --fds-font-heading-ls-md: 0rem;
    --fds-font-heading-ls-sm: 0rem;
    --fds-font-heading-ls-xs: 0rem;

    --fds-font-weight-light: 300;
    --fds-font-weight-regular: 400;
    --fds-font-weight-semibold: 600;
    --fds-font-weight-bold: 700;
    --fds-font-font-family: "Public Sans";

    --fds-font-body-size-baseline: 1.2rem;
    --fds-font-body-size-md: 1.125rem;
    --fds-font-body-size-sm: 1rem;
    --fds-font-body-size-xs: 0.875rem;

    --fds-font-body-lh-baseline: 1.5rem;
    --fds-font-body-lh-md: 1.5rem;
    --fds-font-body-lh-sm: 1.5rem;
    --fds-font-body-lh-xs: 1.125rem;

    --fds-font-body-ls-baseline: 0rem;
    --fds-font-body-ls-md: 0.009rem;
    --fds-font-body-ls-sm: 0.008rem;
    --fds-font-body-ls-xs: 0.008rem;

    --fds-font-form-label-size: 1.125rem;
    --fds-font-form-description-size: 1rem;

    --fds-font-form-label-lh: 1.5rem;
    --fds-font-form-description-lh: 1.625rem;

    --fds-font-form-label-ls: 0.009rem;
    --fds-font-form-description-ls: 0.008rem;
}
