@import url("./presets/default.css");

[data-fds-theme="wise"] {
    /* 
    ============================================================================
    PRIMITIVE COLOURS
    ============================================================================
    */
    --fds-colour-brand-10: #1C112C;
    --fds-colour-brand-20: #311E4D;
    --fds-colour-brand-30: #462B6E;
    --fds-colour-brand-40: #613A97;
    --fds-colour-brand-50: #7B54B3;
    --fds-colour-brand-60: #9E82C7;
    --fds-colour-brand-70: #BAA6D8;
    --fds-colour-brand-80: #D1C4E5;
    --fds-colour-brand-90: #E4DCEF;
    --fds-colour-brand-95: #F1ECF7;
    --fds-colour-brand-100: #F9F7FB;
    --fds-colour-primary-10: #061727;
    --fds-colour-primary-20: #0A2944;
    --fds-colour-primary-30: #0E3B62;
    --fds-colour-primary-40: #135186;
    --fds-colour-primary-50: #196BB0;
    --fds-colour-primary-60: #5094CF;
    --fds-colour-primary-70: #83B4DD;
    --fds-colour-primary-80: #AECEE9;
    --fds-colour-primary-90: #D0E2F2;
    --fds-colour-primary-95: #E6F0F8;
    --fds-colour-primary-100: #F7FAFD;
    --fds-colour-secondary-10: #290A24;
    --fds-colour-secondary-20: #47123E;
    --fds-colour-secondary-30: #641957;
    --fds-colour-secondary-40: #892277;
    --fds-colour-secondary-50: #B32D9C;
    --fds-colour-secondary-60: #CE6BBD;
    --fds-colour-secondary-70: #DD99D1;
    --fds-colour-secondary-80: #E9BDE2;
    --fds-colour-secondary-90: #F2D8ED;
    --fds-colour-secondary-95: #F8EAF6;
    --fds-colour-secondary-100: #FCF7FB;
    --fds-colour-neutral-10: #161616;
    --fds-colour-neutral-20: #282828;
    --fds-colour-neutral-30: #393939;
    --fds-colour-neutral-40: #4E4E4E;
    --fds-colour-neutral-50: #686868;
    --fds-colour-neutral-60: #8E8E8E;
    --fds-colour-neutral-70: #AFAFB0;
    --fds-colour-neutral-80: #C7CACA;
    --fds-colour-neutral-90: #DDE1E2;
    --fds-colour-neutral-95: #EDEFEF;
    --fds-colour-neutral-100: #F9F9F9;
    --fds-colour-success-10: #061A0C;
    --fds-colour-success-20: #0A2E15;
    --fds-colour-success-30: #0F421E;
    --fds-colour-success-40: #145B29;
    --fds-colour-success-50: #1B7735;
    --fds-colour-success-60: #2AA34D;
    --fds-colour-success-70: #6DC085;
    --fds-colour-success-80: #9FD6AF;
    --fds-colour-success-90: #C9E8D2;
    --fds-colour-success-95: #E2F3E7;
    --fds-colour-success-100: #F2FAF4;
    --fds-colour-warning-10: #1C1603;
    --fds-colour-warning-20: #312705;
    --fds-colour-warning-30: #453007;
    --fds-colour-warning-40: #5F4D0B;
    --fds-colour-warning-50: #7E650E;
    --fds-colour-warning-60: #AC8B13;
    --fds-colour-warning-70: #D3AA18;
    --fds-colour-warning-80: #F2C424;
    --fds-colour-warning-90: #F8DF87;
    --fds-colour-warning-95: #FBEEBF;
    --fds-colour-warning-100: #FEF9EA;
    --fds-colour-error-10: #330505;
    --fds-colour-error-20: #550808;
    --fds-colour-error-30: #750C0C;
    --fds-colour-error-40: #9E130F;
    --fds-colour-error-50: #CB2213;
    --fds-colour-error-60: #DE6C6C;
    --fds-colour-error-70: #E89B9B;
    --fds-colour-error-80: #EFBEBE;
    --fds-colour-error-90: #F5D9D9;
    --fds-colour-error-95: #F9ECEC;
    --fds-colour-error-100: #FCF7F7;
    --fds-colour-info-10: #031537;
    --fds-colour-info-20: #06245F;
    --fds-colour-info-30: #083385;
    --fds-colour-info-40: #0B46B5;
    --fds-colour-info-50: #0E5CED;
    --fds-colour-info-60: #A088BD;
    --fds-colour-info-70: #C7B9D8;
    --fds-colour-info-80: #D7CEE4;
    --fds-colour-info-90: #E5DEED;
    --fds-colour-info-95: #F1EDF5;
    --fds-colour-info-100: #FAF8FB;
    --fds-colour-white: #FFFFFF;
    --fds-colour-black: #121212;
    --fds-colour-primary-inverse: #FEAB10;

    @mixin semantic-colours-light-default;

    /*
    ========================================================================
    SHADOW
    ========================================================================
    */

    @mixin shadow-default;

    /*
    ========================================================================
    COMPONENT TOKENS
    ========================================================================
    */

    @mixin component-tokens-default;

    /* Navbar */
    --fds-navbar-full-height: 6rem;
    --fds-navbar-full-logo-height: 4rem;
    --fds-navbar-compressed-height: 4rem;
    --fds-navbar-compressed-logo-height: 2rem;
    --fds-navbar-mobile-height: 4rem;
    --fds-navbar-mobile-logo-height: 2rem;
    --fds-navbar-colour-bg: var(--fds-colour-bg);
    --fds-navbar-colour-icon: var(--fds-colour-icon);
    --fds-navbar-link-colour-text: var(--fds-colour-text);
    --fds-navbar-link-colour-text-hover: var(--fds-colour-text-hover);
    --fds-navbar-link-colour-text-selected-hover: var(
        --fds-colour-text-selected-hover
    );
}

[data-fds-theme="wise"][data-fds-theme-mode="dark"] {
    @mixin semantic-colours-dark-default;
}

[data-fds-theme="wise"][data-fds-theme-font="wise-public"] {
    @mixin font-wise-public;
}

[data-fds-theme="wise"][data-fds-theme-font="wise-admin"] {
    @mixin font-wise-admin;
}
