.page {
    --background: #fafafa;
    --foreground: #fff;

    --text-primary: #000;
    --text-secondary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;

    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);
}

.main {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--foreground);
    padding: 120px 60px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 24px;
}

.intro h1 {
    max-width: 320px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -2.4px;
    text-wrap: balance;
    color: var(--text-primary);
}

.intro p {
    max-width: 440px;
    font-size: 18px;
    line-height: 32px;
    text-wrap: balance;
    color: var(--text-secondary);
}
