.wxufi5f{height:1.625rem;width:1.625rem;margin-right:0.5rem;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;color:var(--fds-colour-icon-subtle);}.wxufi5f svg{height:100%;width:100%;}
.wo9gzbp{color:var(--fds-colour-icon-disabled-subtle);}
.w1tlwg9n{color:var(--fds-colour-icon-selected);}
.w1d4lch6{color:var(--fds-colour-icon-selected-disabled);}
