/* stylelint-disable selector-class-pattern */
.customOrderedList {
    margin-left: 2em;
}

.customOrderedList li {
    margin-left: 1em;
}

.customOrderedList li::before {
    left: -3em;
    content: counters(list, ".") ".";
}
