@layer fds{.l14goqmf{list-style-type:none;margin-bottom:var(--fds-spacing-32);}
.l1spcgo1{margin-bottom:0;}
.e1y5148f:not(:last-child){margin-bottom:var(--fds-spacing-16);}.e1y5148f ul{list-style-type:none;}}
