.l14goqmf{list-style-type:none;margin-bottom:var(--fds-spacing-32);}
.l1spcgo1{margin-bottom:0;}
.e1y5148f{border-top:var(--fds-border-width-010) var(--fds-border-style-solid) var(--fds-colour-border);border-bottom:var(--fds-border-width-010) var(--fds-border-style-solid) var(--fds-colour-border);}.e1y5148f:not(:last-child){margin-bottom:var(--fds-spacing-32);}.e1y5148f:not(:first-child){margin-top:var(--fds-spacing-32);}.e1y5148f ul{list-style-type:none;}
