@layer fds{.c1340rqu{min-width:320px;max-width:90vw;box-sizing:border-box;}
.c1hp3fsj:hover{cursor:not-allowed;}
.s1kpvet5{height:100%;position:relative;overflow:hidden;}
.e1b7vyxh{display:-ms-grid;display:grid;overflow:auto;position:relative;-ms-grid-columns:280px auto;grid-template-columns:280px auto;border:var(--fds-border-width-010) var(--fds-border-style-solid) var(--fds-colour-border);border-radius:var(--fds-radius-md);background:var(--fds-colour-bg);}
.niqne7l{-ms-grid-column:1/-1;grid-column:1/-1;-ms-grid-row:2;grid-row:2;padding:var(--fds-spacing-72) 0;}}
