.fds-dashed-border {
    position: relative;
}

.fds-dashed-border-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.fds-dashed-border-radius-none {
    overflow: hidden;
    border-radius: var(--fds-radius-none);
}

.fds-dashed-border-radius-xs {
    overflow: hidden;
    border-radius: var(--fds-radius-xs);
}

.fds-dashed-border-radius-sm {
    overflow: hidden;
    border-radius: var(--fds-radius-sm);
}

.fds-dashed-border-radius-md {
    overflow: hidden;
    border-radius: var(--fds-radius-md);
}

.fds-dashed-border-radius-lg {
    overflow: hidden;
    border-radius: var(--fds-radius-lg);
}

.fds-dashed-border-radius-full {
    overflow: hidden;
    border-radius: var(--fds-radius-full);
}
