@layer fds{.a1mqk4w8{border-radius:50%;background-color:var(--fds-colour-bg-primary-subtler);-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.a11siwsi{width:2.5rem;height:2.5rem;}
.a1m51nni{width:1.5rem;height:1.5rem;}
.a12u9rhz{color:var(--fds-colour-text-primary);}}
