.h1ujh1ah{margin-right:0.5rem;}
.i1a7rbgo input{text-align:center;}
.fqv7th5{width:2.5rem;}
.u1g8qqjx{margin-left:0.5rem;width:6rem;}.u1g8qqjx input{text-align:left;}
.u52196f{margin:0 0.25rem;}
.urthzty{color:var(--fds-colour-text-disabled);}
.rwsbmaf{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:calc(3rem - 2px);}
